button {
    all: unset;
    color: var(--text-highlight);
    font-weight: 500;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    cursor: pointer;

    &.btn-primary {
        background-color: var(--brand-dark);
        color: white;

        &:hover,
        &:focus {
            background-color: var(--brand-mid);
        }
    }

    &.btn-secondary {
        border: 1px solid var(--text-highlight);
        margin-left: auto;

        &:hover,
        &:focus {
            color: var(--brand-dark);
            outline: .25rem solid var(--surface-secondary);
        }
    }
}

@media (width < 80em) {
    & button {
        text-align: center;

        &.btn-secondary {
            margin-left: 0;
        }
    }
}