.dropzone {
    display: grid;
    justify-items: center;
    gap: .5rem;
    position: relative;
    text-align: center;
    border: 2px dashed transparent;
    border-radius: .25rem;
    outline: 1px dashed var(--stroke-default);
    padding: 1.75rem 1rem;
    animation: bg-hover-fade-out .3s ease-out backwards;
    

    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    & p {
        color: #A8A29E;
    }

    & svg path:not(:hover) {
        animation: svg-hover-fade-out .3s ease-out backwards;
    }

    &:hover, &:has(input:focus) {
        outline-width: 0;
        animation: bg-hover-fade-in .3s ease-in forwards;

        & p {
            color: var(--text-tertiary);
        }

        & svg path {
            animation: svg-hover-fade-in .3s ease-in forwards;
        }
    }
}